__pycache__/
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

thumbs.db
.DS_Store
.idea

model_checkpoint/
wandb/
results/
src/stanford_parser/

tmp*

__pycache__
*.csv.gz
*.pyc
*.pyo
*.png
data/*
model/*
module/*
!.gitkeep

/log/*
!/log/.gitkeep
output/*
